.login-container {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.login-card {
  width: 320px;
  padding: 24px;
  background: #ecd48c;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}
